/* Sticky Nav styles */
nav {
    background-color: #333;
    padding: 10px;
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 20px;
    position: relative;
}

li:last-child {
    margin-right: 0;
}

a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

a img {
    height: 30px;
    margin-right: 10px;
}

a svg {
    font-size: 24px;
    margin-right: 5px;
}

/* Dropdown styles */
.dropdown-content {
    display: block;
    position: absolute;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    /* Make sure the dropdown appears above other elements */
    min-width: 160px;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a,
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
    background-color: #ddd;
}

.icon-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 1000;
}

/* Cart and favorite icon styles */
.icon-container {
    position: relative;
}

.cart-count-badge,
.favorite-count-badge {
    position: absolute;
    top: -3.5px;
    right: 0.5px;
    background-color: red;
    color: white;
    font-size: 8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hidden {
    display: none;
}

/* Search bar styles */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search-container button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #45a049;
}

/* Add Product Icon Style */
.add-product-icon {
    color: white;
    font-size: 28px;
    margin-right: 5px;
    transition: color 0.3s;
}

.add-product-icon:hover {
    color: #4CAF50;
    /* Highlight the icon when hovered */
}